.container {
    padding: 0rem 6rem;
}
.mainGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    max-width: 1200px;
    margin: auto;
}

@media screen and (max-width: 1000px) {
    .mainGrid {
        display: flex;
        flex-direction: column;
    }
}
